html {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 56px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--grey-of-header-border) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

form .form-input {
    position: relative;
    min-height: 90px !important;
}

.form-input label {
    display: block;
    padding: 4px;
}
/*--Customize each input tag--*/
form div#currentSemester,
form div#sectionClassId {
    width: 48%;
}
form div#requestMessageDetail {
    width: 100%;
}
/*------------*/

.form-input input,
.form-input select {
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
}

.form-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}

form input[type=submit] {
    padding: 12px 42px;
    margin: auto;
    margin-top: 30px;
}
#error-message-close-btn:hover {
    cursor: pointer;
}
/* ---------------Schedule Block---------------*/
div#schedule-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 56px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--grey-of-header-border) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}
div#schedule-block .form-input {
    position: relative;
    height: 90px;
}
/*--Customize each input tag--*/
div.table-tools {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.table-tools div#semester {
    width: 30%;
}
div.table-tools div#list-of-week {
    width: 65%;
}
div.table-tools div#list-of-week select,
div.table-tools div#semester input {
    width: 100%;
    border: 1px black solid;
} 
div.table-tools div#semester input,
div.table-tools div#list-of-week select,
div.table-tools div#list-of-week select option {
    font-size: 1rem;
}
div#schedule-block table {
    width: 100%;
    border-collapse: collapse;
}
div#schedule-block table thead tr > th,
div#schedule-block table tbody tr > td {
    height: 35px;
    padding-top: 0;   /*override-base.css-styles*/
    font-size: 0.95rem;
}
div#schedule-block table thead th.table-description-column-item,
div#schedule-block table tbody td.table-description-column-item {
    width: 70px;
}
div#schedule-block table thead th,
div#schedule-block table tbody td.table-description-column-item {
    border: 1px black solid;    /*override-base.css-styles*/
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#schedule-block table tbody td.table-description-column-item {
    justify-self: start;
    border-color: black black transparent black;
}
div#schedule-block table tbody td.table-description-column-item > span {
    height: 20px;
    padding-left: 7px;
}
div#schedule-block table thead th.schedule-item,
div#schedule-block table tbody td.schedule-item {
    width: calc((100% - 2*70px)/7);
}
div#schedule-block table tbody td.schedule-item {
    border: 1px var(--smoking-grey) solid; /*override-base.css-styles*/
}
div#schedule-block table thead th.schedule-item {
    border-color: black transparent black black;
}
div#schedule-block table thead th.change-schedule-btn {
    background-color: #e4e3e3;
    transition: background-color ease 0.3s;
}
div#schedule-block table thead th.change-schedule-btn span {
    width: 100%;
    padding: 5px 0;
}
div#schedule-block table thead th.change-schedule-btn:hover {
    background-color: #767676;
    color: white;
    cursor: pointer;
}
.un-hover {
    background-color: rgb(211, 217, 219)!important;
}
.un-hover:hover {
    cursor: not-allowed!important;
}