@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --black-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    --grey-form-text: rgb(112, 102, 102);
    --grey-text: #606975;
    --white-grey-text: #989da1;
    --blur-white: #efefef;
    --white-text: #FFFFFF;
    --white-background-component: #fdfffc;
    --black-text: rgba(0, 0, 0, 0.8);
    --grey-border: #9a9797;
    --smoking-grey: rgba(216, 216, 216, 0.7);
    --x2-dark-blue: #183153;
    --blue: #3456FF;
    --blur-blue: rgb(0, 63, 151);
    --green: rgb(3, 193, 139);
    --light-green: rgb(17, 255, 0);
    --blur-green: rgb(0, 255, 208);
    --red: rgb(234, 16, 16);
    --blur-black: rgba(0, 0, 0, 0.15);
    --grey-of-header-border: #a7abb0;

    --footer-height: 40px;
    --category-width: 200px;
    --category-index-height: 38px;
    --form-border-radius: 12px;
    --form-margin: 12px;
}
/* Reset CSS */
html {
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    background-color: var(--blur-white);
}
main {
    padding-left: var(--category-width);
    min-height: calc(100vh - var(--footer-height));
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--black-text)
}
img {
    max-width: 100%;
    height: auto;
}
body {
    display: flex;
    flex-direction: row;
    font-family: 'Muli', sans-serif;
    color: var(--black);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.hide {
    display: none!important;
}

/*--------Main content page--------*/
.center-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #f9fafc;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding-bottom: var(--footer-height);
}

/*--------Error messages--------*/
.error-service-message,
.succeed-service-message {
    margin: 5px;
    padding: 10px 20px;
    box-shadow: var(--black-box-shadow);
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 98.5%;
    z-index: 1000;
}
.error-service-message {
    background-color: rgba(255, 0, 0, 1);
}
.succeed-service-message {
    background-color: rgba(139, 210, 137, 1);
}
.error-service-message #error-service-message_close-btn,
.succeed-service-message #succeed-service-message_close-btn {
    float:right;
    padding: 5px;
}
#succeed-service-message_close-btn:hover,
#error-service-message_close-btn:hover {
    cursor: pointer;
}

/*--------Form input data--------*/
.form-input .password_toggle-hidden {
    position: absolute;
    top: 42px;
    right: 15px;
}

.form-input .password_toggle-hidden:hover {
    cursor: pointer;
}

.form-input .password_toggle-hidden>.hidden {
    display: none;
}
form span#submit,
form input[type=submit] {
    display: block;
    width: 100%;
    border: 2px var(--black-text) solid;
    background-color: var(--black-text);
    color: white;
    border-radius: 10px;
    transition: background-color ease 0.2s;
    transition: border-radius ease 0.3s;
}
form span#submit:hover,
form input[type=submit]:hover {
    cursor: pointer;
    border-radius: 22px;
    background-color: #9fa7ae;
    color: black;
}

/*--------Table as list--------*/
.center-page_list {
    width: calc(100% - 2*20px);
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px;
    border: 1px var(--grey-of-header-border) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.center-page_list .table-tools {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
}
.center-page_list .table-tools .table-description {
    font-size: 1.2rem;
    font-weight: 600;
}
.table-tools .table-search-box select {
    position: absolute;
    width: 200px;
    top: 17px;
    height: 36px;
    right: 278px;
    border: 2px transparent solid;
    border-radius: 5px 0 0 5px;
    padding: 8px;
}
.table-tools .table-search-box input {
    width: 450px;
    height: 40px;
    border: 2px var(--grey-border) solid;
    background-color: var(--smoking-grey);
    border-radius: 7px;
    padding: 0 55px 0 220px;
    outline-color: var(--grey-border);
}
.table-tools .table-search-box input:focus {
    background-color: rgb(200, 198, 198);
}
.table-tools .table-search-box i {
    font-size: 1.1rem;
    position: absolute;
    top: 21.5px;
    right: 35px;
    border-radius: 7px;
    padding: 6px 18px;
    transition: background-color ease 0.3s;
}
.table-tools .table-search-box i:hover {
    cursor: pointer;
    background-color: var(--grey-border);
}
.center-page_list table {
    width: 100%;
}
.center-page_list table thead tr {
    margin: -1.5px;
}
table tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
table tr th,
table tr td {
    text-align: center;
    border-top: 1px var(--grey-of-header-border) solid;
    color: var(--black-text);
}
table tr th {
    background-color: var(--smoking-grey);
    padding-top: 7px;   /*fix-error-of-table*/
    font-size: 0.88rem;
    height: 35px;
}
table tr td {
    padding-top: 10px;   /*fix-error-of-table*/
    font-size: 0.95rem;
    height: 45px;
}

table tr td > i {
    color: var(--grey-border);
    font-weight: 600;
    margin-right: 3px;
}

table tr th > i {
    margin-left: 3px;
    font-size: 0.95rem;
    padding: 2.5px 4px;
    color: var(--black-text);
    font-weight: 600;
    border-radius: 5px;
    border: 1px var(--grey-border) solid;
    transition: background-color ease 0.3s;
}
table tr th > i:hover {
    cursor: pointer;
    background-color: var(--grey-border);
}

.table-description span#quantity,
table tr td span.status-is-true,
table tr td span.status-is-false,
table tr td span.status-is-pending,
table tr td span.status-is-cancel {
    padding: 2.5px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
}
table tr td span.status-is-true {
    background-color: #ddfde9;
    color: #047144;
    font-weight: 500;
}
table tr td span.status-is-false {
    background-color: #fae2d5;
    color: #ac2f0d;
    font-weight: 600;
}
table tr td span.status-is-pending {
    background-color: #dde0fd;
    color: #0b0bac;
    font-weight: 500;
}
table tr td span.status-is-cancel {
    background-color: #c8c8c8;
    color: #000000;
    font-weight: 500;
}
.table-description span#quantity {
    background-color: #eae8fb;
    color: #0d0dac;
    font-weight: 600;
}
button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
table tr td.table-row-btn i {
    padding: 6px 12px;
    border: 1px var(--grey-border) solid;
    color: var(--black-text);
    border-radius: 4px;
    transition: background-color ease 0.3s;
}
table tr td.delete i:hover {
    cursor: pointer;
    background-color: #ac2f0d;
    color: #ffffff;
}
table tr td.update i:hover {
    cursor: pointer;
    background-color: #0d5fac;
    color: #ffffff;
}
table tr td.view i:hover {
    cursor: pointer;
    background-color: #0d9cac;
    color: #ffffff;
}
table tr td.add i:hover {
    cursor: pointer;
    background-color: #0dac67;
    color: #ffffff;
}

.table-footer .table-footer_main {
    height: 40px;
    background-color: var(--smoking-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.table-footer_main span.interact-page-btn a {
    padding: 4px 10px;
    border: 1px var(--grey-border) solid;
    color: var(--black-text);
    border-radius: 4px;
    transition: background-color ease 0.3s;
    margin: 0 5px;
}
.table-footer_main span.interact-page-btn a:hover {
    cursor: pointer;
    background-color: #0d5fac;
    color: #ffffff;
}
.table-footer_main #pages-content {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    justify-content: space-around;
}
.table-footer_main #pages-content span.index-btn a {
    display: block;
    padding: 2px 10px;
    font-weight: 600;
    transition: background-color ease 0.3s;
    border-radius: 5px;
}
.table-footer_main #pages-content span.index-btn a:hover {
    background-color: var(--grey-border);
    cursor: pointer;
}
.closed {
    display: none!important;
}