html {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

#error-message-close-btn:hover {
    cursor: pointer;
}
.center-page form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 56px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--grey-of-header-border) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

.center-page form .form-input {
    position: relative;
    min-height: 90px !important;
}

.form-input label {
    display: block;
    padding: 4px;
}

/*--Customize each input tag--*/
.center-page form div#teacherId {
    width: 100%;
}
.center-page form div#instituteEmail,
.center-page form div#password,
.center-page form div#retypePassword {
    width: 100%;
}

/*------------*/

.form-input input,
.form-input select {
    width: 100%;
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 10px;
    padding: 12px;
}

.center-page form a.mock-submit-form-btn {
    text-align: center;
    display: block;
    width: 100%;
    border: 2px var(--black-text) solid;
    background-color: var(--black-text);
    color: white;
    border-radius: 10px;
    transition: background-color ease 0.2s;
    transition: border-radius ease 0.3s;
    font-weight: 100;
}

.form-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}

.dialog-of-page {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.dialog-of-page_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 320px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 102;
}

.dialog-of-page_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog-of-page_container form {
    width: 100%;
    z-index: 101;
}
.dialog-of-page_container form span.form-title {
    font-size: 1.9rem;
    font-weight: 600;
}
.dialog-of-page_container form div#otpCode {
    width: 100%;
}
.dialog-of-page_container form div#otpCode label {
    font-size: 1rem;
    color: rgb(85, 85, 85);
}
.dialog-of-page_container form div#otpCode input[name=otpCode] {
    height: 70px;
    font-size: 2.5rem;
    text-align: center;
}

.dialog-of-page_container form input[type=submit],
.center-page form a.mock-submit-form-btn {
    padding: 12px 42px;
    margin: auto;
    margin-top: 30px;
}
.center-page form a.mock-submit-form-btn:hover {
    cursor: pointer;
    border-radius: 22px;
    background-color: #9fa7ae;
    color: black;
}

.dialog-of-page_container .closing-dialog-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2.5rem;
}
.dialog-of-page_container .closing-dialog-btn:hover {
    cursor: pointer;
}