html {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 56px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--grey-of-header-border) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

form .form-input {
    position: relative;
    min-height: 90px !important;
}

.form-input label {
    display: block;
    padding: 4px;
}
/*--Customize each input tag--*/
form div#file {
    width: 100%;
}
/*------------*/

.form-input input,
.form-input select {
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
}

.form-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}

form input[type=submit] {
    padding: 12px 42px;
    margin: auto;
    margin-top: 30px;
}
#error-message-close-btn:hover {
    cursor: pointer;
}

#instruction-block {
    padding: 28px 56px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--grey-of-header-border) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 1rem;
}
#instruction-block .index {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(65, 83, 199);
}
#instruction-block .sub-index {
    font-size: 1.2rem;
    color: rgb(65, 83, 199);
}
#instruction-block .code-review {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: start;
    background-color: #272822;
    font: 0.9rem consolas;
    padding: 10px 15px;
}
#instruction-block .code-review span {
    display: block;
    width: 100%;
}
.code-review_table-name {
    color: #a6e22e;
}
.code-review_fields-order {
    color: #66d9ef;
}
.code-review_data-example {
    color: white;
}