html {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #eae3de;
    min-height: 100vh;
}

div#center-block {
    width: 925px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(176, 25, 58);
    border: 30px rgb(176, 25, 58) solid;
    border-radius: 35px;
    box-shadow: 0 0 100px var(--blur-black);
}
div#center-block div#left-column {
    background-size: cover;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#center-block div#left-column img {
    width: 100px;
    padding: 15px 0 105px 0;
}
div#center-block div#left-column span.web-description {
    font-weight: 1000;
    font-size: 2.4rem;
    color: var(--white-text);
    text-align: end;
    display: block;
    width: 100%;
    padding: 0 50px;
}

form {
    width: 50%;
    display: block;
    padding: 28px 56px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0 20px 20px 0;
    background-color: var(--white-text);
}

form .form-title {
    display: block;
    text-align: start;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 60px 0 20px 0;
}

form .form-input {
    position: relative;
    width: 100%;
    min-height: 90px !important;
    margin: auto;
}

.form-input label {
    display: block;
    padding: 4px;
}

.form-input input {
    width: 100%;
    height: 44px;
    border: 2px #d1d0d0 solid;
    border-radius: 10px;
    padding: 16px;
}

.form-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
}

form input[type=submit] {
    padding: 12px 42px;
    margin: auto;
    margin-top: 30px;
}

.form-input #forgot-pass a {
    position: absolute;
    right: 12px;
    top: 4px;
}
form #have-no-account {
    display: block;
    text-align: center;
    margin-top: 8px;
}